/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global SASS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* ******************************* */
/* ## admin bereich ## */
/* line 18, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.logged-in #region-branding {
  margin-top: 20px;
}

/* @end admin bereich */
/* ------------------------------- */
/* ******************************* */
/* ## general declarations ## */
/* line 27, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
body {
  background: #90a490 url("../images/body-bg-big-line.png") no-repeat top center;
  font-family: Arial, Verdana, serif;
  font-size: 100%;
  line-height: 1.125em;
  margin: 0;
  padding: 0;
  color: #404040;
}

/* line 36, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.body-wrapper {
  background: #eaeaea url("../images/body-wrapper.png") repeat-x top left;
  height: 84px;
}

/* line 44, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
p, .field-content {
  color: #404040;
  font-size: 0.875em;
}

/* @end general declarations */
/* ------------------------------- */
/* ******************************* */
/* ## @group Logo und Hauptmenü ## */
/* line 54, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.region-menu {
  height: 85px;
}

/* line 57, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.block-delta-blocks-logo {
  float: left;
}

/* line 60, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.block-main-menu {
  float: left;
}
/* line 63, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.block-main-menu .block-inner .content ul {
  display: block;
}
/* line 66, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.block-main-menu .block-inner .content ul li {
  display: inline;
}

/* line 69, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.section-content {
  clear: both;
}

/* @end Logo und Hauptmenü */
/* ------------------------------- */
/* ******************************* */
/* ## @group Projekte Übersicht >> Tabelle ## */
/* line 78, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
tr td {
  width: 220px !important;
  height: 213px;
  background: transparent url("../images/projekt-detail-bg.png") no-repeat top left;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 5px;
}

/* line 89, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
tr td:hover {
  background: transparent url("../images/projekt-detail-bg-aktiv.png") no-repeat top left;
  width: 220px !important;
  height: 213px;
}

/* line 95, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-field-title {
  margin-bottom: 12px;
}

/* line 98, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-field-title .field-content a {
  color: #768f76;
  text-decoration: none;
}

/* line 102, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-field-field-groesse {
  margin-top: 12px;
  float: left;
  margin-right: 80px;
}

/* line 107, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-field-field-preis {
  margin-top: 12px;
  float: left;
}

/* @end Projekte Übersicht >> Tabelle */
/* @group Projekte Detail */
/* line 116, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.ds-3col-stacked-equal.node-projekte .group-header {
  width: 100%;
}

/* line 119, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekt_projektbilder {
  float: right;
  width: 66.14583%;
  margin-left: 1.35417%;
}

/* line 124, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projektdetail_projektinfos {
  float: left;
  width: 31.25%;
}

/* line 128, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekte_infos_links {
  float: left;
  width: 45%;
  margin-right: 5%;
}

/* line 134, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekte_infos_rechts {
  float: right;
  width: 45%;
  margin-left: 5%;
}

/* line 139, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projektdetail_weitereinfos, .group_wohnungstypen {
  clear: both;
}

/* line 142, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.ds-3col-stacked-equal .group-left {
  clear: both;
}

/* line 145, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp {
  float: left;
}
/* line 148, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 {
  font-size: 0.9em;
}
/* line 151, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:link, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:visited, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:hover, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:active {
  text-decoration: none;
}

/* @group Image Gallery in Projekte Detail */
/* line 158, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-projekt-bilder-klein img {
  float: left;
  z-index: 10;
  margin: 3px 4px 3px 0px;
}

/* line 163, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-projekt-bilder-klein:nth-child(5n+5) img {
  margin-right: 0px;
}

/* @end Image Gallery */
/* @group Stammdaten Flächendaten Technische Daten Kaufdaten */
/* line 170, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-type-projekte .group-left {
  clear: both;
}

/* line 173, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.outer-wrapper {
  display: block;
  clear: left;
}
/* line 177, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.outer-wrapper .label-inline {
  float: left;
}

/* line 180, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.flaechendaten .sonstiges-field-items {
  display: block;
}
/* line 183, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.flaechendaten .sonstiges-field-items div.second-column {
  float: left;
}

/* line 186, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-projekte.view-mode-full .group-left,
.node-projekte.view-mode-full .group-middle,
.node-projekte.view-mode-full .group-right {
  width: 30%;
  margin-right: 5%;
}

/* line 192, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-projekte.view-mode-full .group-right {
  margin-right: 0;
}

/* line 195, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-projekte.view-mode-full .group-left,
.node-projekte.view-mode-full .group-middle,
.node-projekte.view-mode-full .group-right > div.group_technische_daten {
  background: #586b58 url(../images/datenbox-bg.png) repeat-x top left;
}

/* line 200, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-projekte.view-mode-full .group-right > div.group_kaufdaten {
  background: #eaeaea url(../images/datenbox-kauf-bg.png) repeat-x top left;
}

/* @end Stammdaten */
/* @group filter */
/* line 207, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-exposed-form .views-exposed-widget {
  float: none;
}

/* @end filter */
/** @end Projekte Detail ** */
/** @group Wohnungstypen Detail ** */
/* line 217, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_wht_teaser {
  display: block;
}
/* line 220, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_wht_teaser .field-objektart-reloaded, .group_wht_teaser .groesse-zimmer {
  float: left;
}

/* line 223, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_objekt_objektbilder {
  float: right;
  width: 66.14583%;
  margin-left: 1.35417%;
}

/* line 228, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_objektdetail_objektinfos {
  float: left;
  width: 31.25%;
}

/* line 232, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_wohnungstypen_stammdaten {
  clear: both;
}

/* line 235, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstyp-bilder-klein img {
  float: left;
  z-index: 10;
  margin: 3px 4px 3px 0px;
}

/* line 240, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstyp-bilder-klein:nth-child(5n+5) img {
  margin-right: 0px;
}

/** @end Wohnungstypen Detail ** */
/*@group Bauträger Detail */
/* line 247, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data {
  display: block;
}
/* line 250, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data .field-bautraeger-logo {
  float: left;
  margin-right: 2%;
  width: 42%;
}
/* line 256, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data .field-bautraeger-daten {
  float: left;
  width: 56%;
}

/* line 260, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.aktuelle-projekte-field-item, .weitere-projekte-field {
  float: left;
}

/* line 263, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.aktuelle-projekte-field-item.even {
  margin-right: 9px;
}

/* line 266, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.view-mode-bautraeger_weitere h3 {
  font-size: 0.9em;
  margin: 10px 0;
}
/* line 270, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.view-mode-bautraeger_weitere h3 a:link, .view-mode-bautraeger_weitere h3 a:visited, .view-mode-bautraeger_weitere h3 a:hover, .view-mode-bautraeger_weitere h3 a:active {
  text-decoration: none;
}

/* @Bauträger Stellt sicher, dass die Überschrift "Weitere Projekte" im iPad unter den Bildern von Aktuelle Projekte steht */
/* line 274, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-weitere-projekte {
  clear: both;
}

/* line 277, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.weitere-projekte-field {
  margin-right: 8px;
}

/* line 280, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.weitere-projekte-field:nth-child(3n+4) {
  margin-right: 0px;
}

/* @group Team Referenz Bauträger Detail */
/* line 285, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-bautraeger-team-reference .node-team {
  float: left;
}

/* @end Team Referenz Bauträger Detail */
/** @end Bauträger Detail ** */
/* @group Footer */
/* line 297, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
#section-footer .zone-footer-wrapper {
  background-image: url("../images/footer-strip.png");
  background-repeat: repeat-x;
  background-position: bottom center;
  height: 270px;
}

/* line 303, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.footer-middle-left.google {
  float: left;
}

/* @end Footer */
/* Loading Allgemeines Kontaktformular in a Colorbox */
/* line 311, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
#colorbox article.node-webform {
  background-color: white;
  padding: 20px;
}
