/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global SASS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* admin bereich */
/* line 6, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.logged-in #region-branding {
  margin-top: 20px;
}

/* @group Projekte Detail */
/* line 11, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.ds-3col-stacked-equal.node-projekte .group-header {
  width: 100%;
}

/* line 14, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekt_projektbilder {
  float: right;
  width: 67%;
}

/* line 18, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projektdetail_projektinfos {
  float: left;
  width: 33%;
}

/* line 22, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekte_infos_links {
  float: left;
  width: 50%;
}

/* line 27, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projekte_infos_rechts {
  float: right;
  width: 50%;
}

/* line 31, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_projektdetail_weitereinfos, .group_wohnungstypen {
  clear: both;
}

/* line 34, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.ds-3col-stacked-equal .group-left {
  clear: both;
}

/* line 37, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp {
  float: left;
}
/* line 40, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 {
  font-size: 0.9em;
}
/* line 43, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:link, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:visited, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:hover, .field-wohnungstypen-bilder .field-projekt-wohnungstyp h3 a:active {
  text-decoration: none;
}

/* @group Image Gallery in Projekte Detail */
/* line 50, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-projekt-bilder-klein img {
  float: left;
  z-index: 10;
  margin: 3px 4px 3px 0px;
}

/* line 55, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-projekt-bilder-klein:nth-child(5n+5) img {
  margin-right: 0px;
}

/* @end Image Gallery */
/* @group Stammdaten Flächendaten Technische Daten Kaufdaten */
/* line 70, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.node-type-projekte .group-left {
  clear: both;
}

/* line 73, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.outer-wrapper {
  display: block;
  clear: left;
}
/* line 77, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.outer-wrapper .label-inline {
  float: left;
}

/* line 80, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.flaechendaten .sonstiges-field-items {
  display: block;
}
/* line 83, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.flaechendaten .sonstiges-field-items div.second-column {
  float: left;
}

/* @end Stammdaten */
/* @group filter */
/* line 91, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.views-exposed-form .views-exposed-widget {
  float: none;
}

/* @end filter */
/** @end Projekte Detail ** */
/*@group Bauträger Detail */
/* line 101, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data {
  display: block;
}
/* line 104, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data .field-bautraeger-logo {
  float: left;
  margin-right: 2%;
  width: 42%;
}
/* line 110, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.group_bautraeger_logo_data .field-bautraeger-daten {
  float: left;
  width: 56%;
}

/* line 114, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.aktuelle-projekte-field-item, .weitere-projekte-field {
  float: left;
}

/* line 117, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.aktuelle-projekte-field-item.even {
  margin-right: 9px;
}

/* line 120, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.view-mode-bautraeger_weitere h3 {
  font-size: 0.9em;
  margin: 10px 0;
}
/* line 124, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.view-mode-bautraeger_weitere h3 a:link, .view-mode-bautraeger_weitere h3 a:visited, .view-mode-bautraeger_weitere h3 a:hover, .view-mode-bautraeger_weitere h3 a:active {
  text-decoration: none;
}

/* Stellt sicher, dass die Überschrift "Weitere Projekte" im iPad unter den Bildern von Aktuelle Projekte steht */
/* line 128, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-weitere-projekte {
  clear: both;
}

/* line 131, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.weitere-projekte-field {
  margin-right: 8px;
}

/* line 134, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.weitere-projekte-field:nth-child(3n+4) {
  margin-right: 0px;
}

/* @group Team Referenz Bauträger Detail */
/* line 139, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
.field-bautraeger-team-reference .node-team {
  float: left;
}

/* @end Team Referenz Bauträger Detail */
/** @end Bauträger Detail ** */
/* Loading Allgemeines Kontaktformular in a Colorbox */
/* line 149, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/global.sass */
#colorbox article.node-webform {
  background-color: white;
  padding: 20px;
}
