/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/* ******************************* */
/* ## @group Flexislider Frontpage ## */
/* line 23, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.flex-nav-container {
  width: 700px;
}

/* @end Flexislider Frontpage */
/* ******************************* */
/* ## @group Projekte Übersicht >> Tabelle ## */
/* line 31, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.view-projekt-bersicht-frei-finanzierte-projekte tr td {
  width: 220px !important;
  height: 213px;
  background: transparent url("../images/projekt-detail-bg.png") no-repeat top left;
  vertical-align: top;
  padding-top: 15px;
  padding-left: 5px;
}

/* line 42, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.view-projekt-bersicht-frei-finanzierte-projekte tr td:hover {
  background: transparent url("../images/projekt-detail-bg-aktiv.png") no-repeat top left;
  width: 220px !important;
  height: 213px;
}

/* filter auf projekt übersichtsseite */
/* line 49, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.zone-content .grid-3.region-sidebar-first {
  width: 220px;
  margin-right: 20px;
}

/* line 53, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.zone-content .grid-9.region-content {
  width: 690px;
}

/* @end Projekte Übersicht >> Tabelle ## */
/* @group Projekte Detail */
/* line 60, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.ds-3col-stacked-equal.node-projekte .group-header {
  width: 940px;
}

/* line 63, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.group_projekt_projektbilder {
  float: right;
  width: 635px;
  margin-left: 13px;
}

/* line 68, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.group_projektdetail_projektinfos {
  float: left;
  width: 292px;
}

/* line 72, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.group_projekte_infos_links {
  float: left;
  width: 45%;
  margin-right: 5%;
}

/* @group Image Gallery in Projekte Detail */
/* line 80, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.field-projekt-bilder-klein img {
  float: left;
  z-index: 10;
  margin: 3px 3px 3px 0px;
}

/* @end Image Gallery */
/* @group Stammdaten Flächendaten Technische Daten Kaufdaten */
/* line 91, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.node-projekte.view-mode-full .group-left,
.node-projekte.view-mode-full .group-middle,
.node-projekte.view-mode-full .group-right {
  width: 300px;
  margin-right: 20px;
}

/* line 97, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.node-projekte.view-mode-full .group-right {
  margin-right: 0;
}

/* @end Stammdaten */
/* @group filter */
/* line 106, /Applications/MAMP/htdocs/drupal-7.17/sites/default/themes/wohnservice/sass/wohnservice-alpha-default-normal.sass */
.views-exposed-form .views-exposed-widget {
  float: none;
}

/* @end filter */
/** @end Projekte Detail ** */
